<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
 <form action="/submit_shedule_event" method="POST">
    <input type="text" name="title" placeholder="Event Title/Name">
    <input type="date" name="date" placeholder="Date">
    <br>
    <br>
    <input type="time" name="time" placeholder="Time">
    <input type="text" name="location" placeholder="Location">
  
    <h3> <i>Description:</i></h3>
<i><input type="text" name="description" style="width: 400px; height: 200px;" placeholder=""></i>
<br>
<br>
<br>
<center><button><b><i> Submit </b> </i> </button> </center>